@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color:  hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
    font-family:  'outfit', sans-serif;
    margin: 0;
}
/*typography*/

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
    cursor: pointer;
}
h1:active {
    color: hsl(178, 100%, 50%);

}  
span:active {
    color: hsl(178, 100%, 50%);
} 
h2 {
    font-size: .8rem;
    color: hsl(178, 100%, 50%);
}

p, h3 {
    color: hsl(215, 51%, 70%);
    line-height: 1.7em;
}
span {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
p, h3 {
    font-size: .9rem;
    margin: 0;
}
.p-name {
    font-size: .8rem;
    margin: 0;
}


/* Layout */

main {
    max-width : 270px;
    background-color: hsl(216, 50%, 16%);
    padding: 1.2em;
    border-radius: .6em;
    margin: 2em;
}
.preview-frame {
    width: 100%;
    position: relative;
    cursor: pointer;

}
#preview-img {
    border-radius: 0.4em;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.eye-view {
    position: absolute;
    background-color: hsl(178, 100%, 50%);
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4em;
}

.preview-frame:active .eye-view {
    opacity: 0.6;
}
.contents-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.2em 0;
}

.cont-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0.5em 0;
}
.cont-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50px;
    gap: 5px;
}
#eth-logo {
    width: 8px;
    height: 15px;
}
#timer {
    width: 15px;
    height: 15px;
}
.author{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
#p-image {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 100%;
    border-width: 1px;
}
.divider {
    width : 100%;
    height: 1px;
    margin-bottom: 1em;
    background-color: hsl(215, 51%, 70%);
    opacity: 0.2;
}